<button class="product big-text" type="button" (click)="addProduct()">
    Add Product
</button>
<div class="products-list">

    <div *ngFor="let product of products" class="product two-column">
        <div>
            <h3>{{ product.name }}</h3>
            <h2>Stock: {{ product.quantityInStock}}</h2>
            <h2>{{ product.price | currency:'EUR' }}</h2>
            <h2>{{ product.brand }}</h2>
            <h2>{{ product.description }}</h2>
        </div>
        <div>
            <br>
            <button type="button" (click)="deleteProduct(product.id)">
                Delete
            </button>
            <br>
            <br>
            <br>
            <button type="button" (click)="editProduct(product.id)">
                Edit
            </button>
        </div>
    </div>

</div>