<a [routerLink]="['/products']" [queryParams]="{ category: 'Electronics' }">
  <h1>My Store</h1>
</a>

<a routerLink="/adminPage" *ngIf="isAdminUser()">
  <h1>Manage Store </h1>
</a>

<div>
  <input type="text" [(ngModel)]="searchKeywords" placeholder="Search Products"
    (keydown.enter)="goToSearchPage(keywords.value)" #keywords />
  <button (click)="goToSearchPage(keywords.value)">Search</button>
</div>

<a routerLink="/cart" class="button fancy-button">
  <em class="material-icons">shopping_cart</em>Checkout
</a>


<div *ngIf="isUserLogged(); else login">
  <h1>Hammadi</h1>
</div>

<ng-template #login>
  <div>
    <input type="text" placeholder="Username" #username />
    <input type="password" placeholder="Password" #password />
    <a routerLink="/cart" class="button fancy-button">Login</a>
  </div>
</ng-template>