<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName>
    </div>

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
    </div>

    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" required></textarea>
    </div>

    <div *ngIf="addMode">
        <label for="quantityInStock">Quantity in Stock:</label>
        <input type="number" id="quantityInStock" formControlName="quantityInStock" required>
    </div>

    <div *ngIf="editMode">
        <span for="quantityInStock">Current Stock Quantity: </span>
        <span>{{product.quantityInStock}} </span>
        <span for="addedQuantity">Add/Remove: </span>
        <input type="number" id="addedQuantity" formControlName="addedQuantity" required>
        <span for="quantityInStock">New Stock Quantity: </span>
        <span>{{product.quantityInStock + this.productForm.value.addedQuantity}} </span>
    </div>

    <button type="submit" [disabled]="!productForm.valid"> {{ addMode ? "Add Product" : "Confirm changes" }}
    </button>
</form>