<div class="container">
    <app-category-bar></app-category-bar>
</div>
<br>
<div class="box">
    <h1> {{ product?.name }} </h1>
    <h2> {{ product.quantityInStock > 0 ? "In stock" : "Out of stock" }} </h2>
    <h2> {{ product?.price * quantity| currency:'EUR'}} </h2>
    <p> {{ product?.description }} </p>
    <label for="quantity">Quantity:</label>
    <input type="number" [(ngModel)]="quantity" min="1" [max]="product.quantityInStock">
    <a class="button" (click)="canAddToCart ? addToCart() : $event.preventDefault()">Add to cart</a>
</div>