<h3>Cart</h3>

<!-- <p>
  <a routerLink="/shipping">Shipping Prices</a>
</p> -->

<div *ngIf="items && items.length > 0; else noItems">
  <div class="box">
    <div class="cart-item">
      <span>Product</span>
      <span>Unit Price</span>
      <span>Quantity</span>
      <span>Total Price</span>
    </div>
    <div class="cart-item" *ngFor="let item of items">
      <span>{{ item.product.name }}</span>
      <span>{{ item.product.price | currency:'EUR' }}</span>
      <span>{{ item.quantity }}</span>
      <span>{{ item.product.price * item.quantity| currency:'EUR' }}</span>
    </div>
  </div>

  <div class="box">
    <div class="price-item">
      <span>Items: </span>
      <span>{{itemsPrice | currency:'EUR'}}</span>
    </div>

    <div class="price-item">
      <span> Shipping: </span>
      <span> {{shippingPrice | currency:'EUR'}}</span>
    </div>

    <div class="total-price-item">
      <span> Order Total: </span>
      <span>{{ getOrderTotalPrice() | currency:'EUR' }}</span>
    </div>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>

    <button class="button" type="submit">Purchase</button>
  </form>
</div>

<ng-template #noItems>
  <div>
    <p>No items in the cart yet.</p>
  </div>
</ng-template>