<h3>Cart</h3>

<!-- <p>
  <a routerLink="/shipping">Shipping Prices</a>
</p> -->

<div *ngIf="cartProducts && cartProducts.length > 0; else noCartProducts">
  <div class="box">
    <div class="cart-item header">
      <span>Product</span>
      <span>Unit Price</span>
      <span>Quantity</span>
      <span>Total Price</span>
      <span>Action</span>
    </div>

    <div class="cart-item" *ngFor="let product of cartProducts">
      <span>{{ product.name }}</span>
      <span>{{ product.price | currency:'EUR' }}</span>
      <span>{{ this.productQuantity.get(product.id) }}</span>
      <span>{{ product.price * this.productQuantity.get(product.id)! | currency:'EUR' }}</span>
      <span><button class="button" type="button" (click)="onDelteCartProduct(product.id)">Delete</button></span>
    </div>
  </div>

  <div class="box">
    <div class="price-item">
      <span>Items: </span>
      <span>{{cartProductsPrice | currency:'EUR'}}</span>
    </div>

    <div class="price-item">
      <span> Shipping: </span>
      <span> {{shippingPrice | currency:'EUR'}}</span>
    </div>

    <div class="total-price-item">
      <span> Order Total: </span>
      <span>{{ getOrderTotalPrice() | currency:'EUR' }}</span>
    </div>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
    <button class="button" type="submit">Purchase</button>
  </form>
</div>


<ng-template #noCartProducts>
  <div>
    <p>No items in the cart yet.</p>
  </div>
</ng-template>
